@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* font-family: "poppins"; */
    background-image: url("https://png.pngtree.com/background/20211215/original/pngtree-modern-simple-elegant-dark-blue-landing-page-website-background-picture-image_1454711.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background: gray; */
}
.card {
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(63, 63, 238, 0.75);
    border-radius: 12px;
    /* box-shadow: none; */
    border: 1px solid rgba(255, 255, 255, 0.125);
}